.carouselContainter {
        position: relative !important;
        top: 30px;
        width: 77vw;
        height: auto;
        left: 11%;

        @media(max-width:1024px) {
                width: 94vw;
                left: 3%;
        }

        @media(max-width:600px) {
                display: none;
        }

        .item {

                .img {
                        display: block;
                        width: 100%;
                        height: 215px;
                        border-radius: 13px;

                }
        }
}


.container {
        max-width: 100vw;
        margin-top: 40px;
}