.loading {
    color: rgb(88, 58, 211) !important;
    font-weight: bold;
    z-index: 999;
    font-size: 2rem;
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 40%;
    z-index: 99999;
}

