@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@mixin flex-row-center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    max-width: 50%;
    margin: 10px 15px;

    @media(max-width: 1024px) {
        width: 30%;
    }


    @media(max-width: 768px) {
        width: 40%;
    }

    @media(max-width: 600px) {
        width: 85%;
    }

    .itemCard {
        width: 100%;
        margin: 10px;
        height: 290px;
        box-shadow: inset 1px -1px 44px 20px rgb(58 58 58 / 33%);
        border-radius: 9px;
        border: none;

        @media(max-width: 600px) {
            min-width: 270px;

        }

        .header {
            @include flex-row-center();
            position: absolute;
            text-align: center;
            color: #59606a;
            font-size: 1.15rem;
            font-weight: 400;
            width: 100%;
            height: auto;
            min-height: 60px;
            font-family: fantasy;
            border: none;
            bottom: 11px;

            @media(max-width: 425px) {
                font-size: 1rem;
                padding: 13px;
            }
        }

        .imgContainer {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: center;
            width: 95%;
            align-self: center;
            height: 85%;

            @media (max-width: 600px) {
                width: 80%;
            }

            .img {
                margin-top: 13px;
                height: auto;
                max-height: 65%;
                object-fit: contain;
                align-self: center;
                max-width: 85%;
                width: auto;
                border-radius: 9px;
                box-shadow: 0px 0px 20px 20px rgb(58 58 58 / 33%);
                backdrop-filter: contrast(0.6);
                filter: drop-shadow(2px 4px 6px rgb(58 58 58 / 33%));

                @media (max-width: 600px) {
                    width: 80%;
                    min-width: 175px;
                }
            }
        }

    }

    .itemCard:hover {
        transform: scale(1.05);
        transition: 0.5s linear;
    }

    .itemCard:hover>.imgContainer {
        transform: scale(1.1);
        transition: 0.3s linear;
        z-index: -1;
    }

    .text {
        position: absolute;
        top: 10px;
        left: 17px;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: #e8051c8d;
        font-weight: 600;
        width: auto;
        border-radius: 20%;
        text-align: end;
        max-width: 95%;
        opacity: 0.9;
        padding: 0;
        font-size: 0.9rem;

        @media(max-width: 425px) {
            font-size: 0.8rem;
            padding: 2px 8px;
            top: -25px;
            right: 7px;
        }
    }

    .stock {
        position: absolute;
        bottom: 4px;
        right: 10px;
        font-family: "Poppins";
        font-size: small;
        font-weight: bold;
        color: #59606a;
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-right: 3%;

        @media(max-width: 767px) {
            bottom: 14px;
        }
    }


}

.item:hover {
    cursor: pointer;
}