$font-family: 'Poppins',
Arial,
Helvetica,
sans-serif;


.navBarContainer, #nav {
    background-color: rgb(241, 241, 241) !important;
    box-shadow: inset -1px 0px 20px 4px rgb(233 227 227);
    height: 64px;
    width: 100% !important;
    position: sticky;
    padding: 0;
    margin: 0;
    

    .container, .navbar > .container {
        width: 95%;
        max-width: 95%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;


        @media(max-width: 990px) {

            .basicNavbarNav {
                margin: 0 !important;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 63px;
                background-color: rgb(241, 241, 241) !important;
                transition: 0.5s linear;

                .meAuto {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: flex-start;
                    height: 100vh;
                    text-align: center;
                    .navItems,
                    .navbar-light .navbar-nav .show>.nav-link {
                        display: flex;
                        flex-flow: column nowrap;
                        margin-top: 15px;
                        height: auto;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none !important;
                        font-size: 1.5rem;
                        padding: 0;

                        :nth-child(n) {
                            margin: 3px;
                            background-color: rgb(241, 241, 241) !important;
                            border: none;
                            padding: 0;
                        }

                    }
                }
            }

        }

        .logo {
            width: 160px;

        }

        .navItems {
            font-weight: bold;
            font-family: $font-family;
            display: flex;
            flex-flow: row nowrap;
            margin-top: 4px;
            width: 91%;
            height: auto;
            justify-content: space-between;
            align-items: center;
            color: rgba(0, 0, 0, 0.55) !important;
            text-decoration: none !important;
            padding: 0 20px;

            :hover {
                color: brown !important;
            }

            &:hover {
                color: brown !important;
            }

            .navItemsDrop {
                font-weight: bold;
                font-family: $font-family;
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                height: auto;
                justify-content: center;
                align-items: center;
                color: rgba(0, 0, 0, 0.55) !important;
                text-decoration: none !important;
                padding: 1%;
                background-color: #fff;


                &:hover {
                    color: brown !important;
                }

            }

        }
    }
}

