$font-family: 'Poppins' ,Arial,Helvetica,sans-serif;


.navBarContainer {
    background-color: rgb(241, 241, 241) !important;
    box-shadow: 0 5px 0 rgb(233, 227, 227);
    height: 64px;

    .container {
        margin: 0 2%;
        width: 100%;
        padding: 0 0 0 2%;

        .logo {
            width: 160px;
        }

        .navItems{
            font-weight: bold;
            font-family: $font-family;
            :hover{
                color: brown !important;
            }
        }
    }
}



