.container {
    width: max-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

   


    .stock {

        margin: -10px 0 5px 0;

        @media(max-width: 768px) {
            font-size: 0.8rem;
            margin: -20px 0 10px 0;
            position: absolute;
            left: 3%;
            bottom: -50px;
            display: inline;
            width: fit-content;
        
        }


    }

    .counterContainer {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .buttons {
            color: white;
            margin: 0 10px;
            border: none;

            @media(max-width:375px) {
                width: 30px;
                height: 28px;
                padding: 0;
            }
        }

        .counter {
            font-size: 1.2rem;
            width: 50px;
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            @media(max-width: 600px) {
                width: 40px;
                height: 30px;
            }
        }

    }

    .addButton {
        margin-top: 10px;
        width: 132px;
        background-color: rgb(4, 68, 4);
        font-size: 0.8rem;
        padding: 9px 5px;


        @media(max-width: 600px) {
            margin-bottom: 10px;
        }



    }
}